* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --select-color: #008BF8;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  pointer-events: none;
  touch-action: none;
}

body {
  width: 100%;
  height: 100%;
  /* pointer-events: none;
  touch-action: none; */
}

#canvas {
  background: darkgray;
}

#sandbox {
  position: relative;
  height: 50%;
  width: 80%;
  background: lightgray;
  overflow: hidden;
}

.draggable {
  display: block;
  position: absolute;
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;
  background: gray;
  fill: gray;
  pointer-events: auto;
  touch-action: auto;
}

/* Selector */
.navigation {
  z-index: 100;
}

#selector {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid var(--select-color);
  pointer-events: none;
  touch-action: none;
}

.selector__resize {
  display: block;
  position: absolute;
  pointer-events: auto;
  touch-action: auto;
}

.selector__resize__vertical {
  z-index: 99;
  width: 100%;
  height: 8px;
}

.selector__resize__horizontal {
  z-index: 99;
  width: 8px;
  height: 100%;
}

.selector__resize__diagonal {
  width: 16px;
  height: 16px;
  border: 2px solid var(--select-color);
  border-radius: 50%;
  background: white;
}

/* .selector__resize__diagonal:hover {
  background: var(--select-color);
} */

#topleft {
  top: -9px;
  left: -9px;
  cursor: nwse-resize;
}

#topright {
  top: -9px;
  right: -9px;
  cursor: nesw-resize;
}

#bottomright {
  right: -9px;
  bottom: -9px;
  cursor: nwse-resize;
}

#bottomleft {
  bottom: -9px;
  left: -9px;
  cursor: nesw-resize;
}

#top {
  top: -5px;
  cursor: row-resize;
}

#right {
  right: -5px;
  cursor: col-resize;
}

#bottom {
  bottom: -5px;
  cursor: row-resize;
}

#left {
  left: -5px;
  cursor: col-resize;
}

#sizes {
  display: block;
  position: absolute;
  bottom: -32px;
  left: 50%;
  width: max-content;
  padding: 1px 8px;
  transform: translateX(-50%);
  border-radius: 8px;
  background: #cccccc;
  font-size: 0.75rem;
}
