* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --select-color: #008BF8;
  --rounded: 12px;
  --blur: 32px;
}

h1 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
}

h2 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}

h3 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  touch-action: none;
}

body {
  width: 100%;
  height: 100%;
}

/* Sandbox area 🛠 */
#canvas {
  background: darkgray;
}

#sandbox {
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  position: relative;
  width: 512px;
  height: 512px;
  overflow: hidden;
  background: darkgray;
}

.draggable {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  background: gray;
  touch-action: auto;
}

/* Control panel 🎛 */
#cp {
  z-index: 100;
  position: absolute;
  bottom: 16px;
  left: 50%;
  width: clamp(80px, 512px, 100% - 32px);
  height: 48px;
  overflow: hidden;
  transform: translateX(-50%);
  border-radius: var(--rounded);
  backdrop-filter: blur(var(--blur));
  background: #eeeeee;
  pointer-events: auto;
  touch-action: auto;
  transition: bottom 0.2s;
}

.panel {
  padding: 4px;
}

.cp__container {
  gap: 8px;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cp__container--scroll {
  overflow-x: scroll;
}

.cp__container__button {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: calc(var(--rounded) - 2px);
  background: #fafafa;
  cursor: pointer;
}

.cp__container__button__icon {}

/* .cp__fade {
  position: absolute;
  left: 0;
  width: 100%;
}

.cp__fade__left {
  float: left;
  height: 100%;
  width: 16px;
  background: linear-gradient(90deg, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 0) 100%);
}

.cp__fade__right {
  float: right;
  height: 100%;
  width: 16px;
  background: linear-gradient(90deg, rgba(238, 238, 238, 0) 0%, rgba(238, 238, 238, 1) 100%);
} */
#cp__objects {
  display: none;
}

#cp__objects__square {}

#cp__instruments {
  display: none;
}

.cp__stats {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 12px;
  color: gray;
  z-index: 100;
}

#cp__position {
  display: none;
}

#cp__size {
  display: none;
}

#cp__angle {
  display: none;
}

#cp__position__value,
#cp__size__value,
#cp__angle__value {
  color: black;
}

/* Transforming controls 🎚 */
.transforming {
  display: block;
  z-index: 100;
  position: absolute;
  pointer-events: auto;
}

#selector {
  z-index: 99;
  width: 100%;
  height: 100%;
  border: 2px solid var(--select-color);
  pointer-events: none;
  touch-action: none;
}

#rotation {
  top: -20px;
  left: 50%;
  width: 14px;
  height: 14px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid var(--select-color);
  border-radius: 2px;
  background: white;
  cursor: grab;
  touch-action: auto;
}

/* Work in progress

#unitCircle {
  display: none;
  position: relative;
  width: calc(100% + 56px);
  height: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

#unitCircle circle {
  stroke: var(--select-color);
  stroke-width: 8;
  stroke-linecap: round;
  stroke-dasharray: 0 39.25%;
} */
.selector__resize {
  touch-action: auto;
}

.selector__resize__vertical {
  z-index: 99;
  width: 100%;
  height: 8px;
  cursor: ns-resize;
}

.selector__resize__horizontal {
  z-index: 99;
  width: 8px;
  height: 100%;
  cursor: ew-resize;
}

.selector__resize__diagonal {
  width: 16px;
  height: 16px;
  border: 2px solid var(--select-color);
  border-radius: 50%;
  background: white;
}

#topleft {
  top: -9px;
  left: -9px;
  cursor: nwse-resize;
}

#topright {
  top: -9px;
  right: -9px;
  cursor: nesw-resize;
}

#bottomright {
  right: -9px;
  bottom: -9px;
  cursor: nwse-resize;
}

#bottomleft {
  bottom: -9px;
  left: -9px;
  cursor: nesw-resize;
}

#top {
  top: -5px;
}

#right {
  right: -5px;
}

#bottom {
  bottom: -5px;
}

#left {
  left: -5px;
}

@media (min-width: 660px) {
  #cp {
    bottom: 24px;
  }
}
